<div id="todo-list">
  <h2>To-Do List</h2>
  <input [(ngModel)]="newTodo" placeholder="Enter new to-do">
  <button (click)="addTodo()">Add</button>
  <div *ngFor="let todo of todos | keyvalue">
    <div class="todo-item">
      <ng-container *ngIf="!isEditing(todo.value); else editMode">
        <span>{{ todo.value.text }}</span>
        <button (click)="toggleEditMode(todo.key)">Edit</button>
      </ng-container>
      <ng-template #editMode>
        <input [(ngModel)]="todo.value.text">
        <button (click)="saveEdit(todo.key)">Save</button>
        <button (click)="cancelEdit(todo)">Cancel</button>
      </ng-template>
      <button (click)="deleteTodo(todo.key)">Delete</button>
    </div>
  </div>
</div>
